<head>

				<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		
		<title>About Us – DSYWMP</title>
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//use.fontawesome.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="DSYWMP » Feed" href="http://www.dsywmp.gov.in/feed/">
<link rel="alternate" type="application/rss+xml" title="DSYWMP » Comments Feed" href="http://www.dsywmp.gov.in/comments/feed/">
		<script type="text/javascript">window._wpemojiSettings={"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.dsywmp.gov.in\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2"}};!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);</script><script src="http://www.dsywmp.gov.in/wp-includes/js/wp-emoji-release.min.js?ver=5.3.2" type="text/javascript" defer=""></script>
		<style type="text/css">img.wp-smiley,img.emoji{display:inline!important;border:none!important;box-shadow:none!important;height:1em!important;width:1em!important;margin:0 .07em!important;vertical-align:-.1em!important;background:none!important;padding:0!important}</style>
	<link rel="stylesheet" id="sb_instagram_styles-css" href="http://www.dsywmp.gov.in/wp-content/plugins/instagram-feed/css/sb-instagram-2-1.min.css?ver=2.1.4" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-css" href="http://www.dsywmp.gov.in/wp-includes/css/dist/block-library/style.min.css?ver=5.3.2" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="http://www.dsywmp.gov.in/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.6" type="text/css" media="all">
<style id="countdown-timer-style-css" media="all">.countdown-items{display:inline-block;width:150px;background-color:#6ec1e4;margin:0 20px}.countdown-items .ctw-digits{display:block;font-size:64px;text-align:center}.countdown-items .ctw-label{display:block;text-align:center;padding:10px 0}.finished-message{text-align:center}@media (max-width:493px){.countdown-items{width:15%}.countdown-items .ctw-digits{font-size:20px}.countdown-items .ctw-label{font-size:10px}}</style>
<link rel="stylesheet" id="dashicons-css" href="http://www.dsywmp.gov.in/wp-includes/css/A.dashicons.min.css,qver=5.3.2.pagespeed.cf.Zfe6btZDbd.css" type="text/css" media="all">
<link rel="stylesheet" id="everest-forms-general-css" href="http://www.dsywmp.gov.in/wp-content/plugins/everest-forms/assets/css/everest-forms.css?ver=1.5.10" type="text/css" media="all">
<link rel="stylesheet" id="cssnews-css" href="http://www.dsywmp.gov.in/wp-content/plugins/sp-news-and-widget/assets/css/A.stylenews.css,qver=4.2.1.pagespeed.cf.9VV_Enr8VG.css" type="text/css" media="all">
<link rel="stylesheet" id="wpforms-full-css" href="http://www.dsywmp.gov.in/wp-content/plugins/wpforms-lite/assets/css/A.wpforms-full.css,qver=1.5.7.pagespeed.cf.JuQTWUr2iw.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="http://www.dsywmp.gov.in/wp-content/plugins/elementor/assets/lib/font-awesome/css/A.font-awesome.min.css,qver=4.7.0.pagespeed.cf.jBrWCt-D4j.css" type="text/css" media="all">
<link rel="stylesheet" id="zakra-style-css" href="http://www.dsywmp.gov.in/wp-content/themes/zakra/A.style.css,qver=5.3.2.pagespeed.cf.TCTGKxJjHu.css" type="text/css" media="all">
<style id="zakra-style-inline-css" type="text/css">.tg-site-header .tg-site-header-top{color:#fff}.tg-site-header .tg-site-header-top{background-color:#4ac6d6;background-image: ;background-repeat:repeat;background-position:center center;background-size:contain;background-attachment:scroll}.tg-site-header{border-bottom-width:4px}.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a{color:#fefefe}.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a:hover{color:#fefefe}.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a{background-color:#4ac6d6}.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a:hover{background-color:#2aaabb}.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a{border-radius:4px}.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a{padding:8px 15px 8px 15px}.tg-primary-menu > div > ul li:not(.tg-header-button-wrap):hover > a{color:#4ac6d6}.tg-primary-menu > div ul li:active > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current_page_item > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current-menu-item > a{color:#4ac6d6}.tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before{background-color:#4ac6d6}.tg-site-header .main-navigation{border-bottom-width:0}@media (min-width:1200px){.tg-container{max-width:1240px}}#primary{width:70%}.tg-page-header{padding:30px 0 30px 0}.tg-page-header{background-color:#eaf6fa;background-image: ;background-repeat:repeat;background-position:center center;background-size:contain;background-attachment:scroll}.tg-page-header .breadcrumb-trail ul li{color:#5b5b5b}.tg-page-header .breadcrumb-trail ul li::after{color:#7b7b7b}.tg-page-header .breadcrumb-trail ul li a{color:#000}.tg-page-header .breadcrumb-trail ul li a:hover{color:#ffb716}a:hover,a:focus,.tg-primary-menu>div ul li:hover>a,.tg-primary-menu>div>ul>li.current_page_item>a,.tg-primary-menu>div>ul>li.current-menu-item>a,.entry-content a,.tg-meta-style-two .entry-meta span,.tg-meta-style-two .entry-meta a{color:#4ac6d6}.tg-primary-menu.tg-primary-menu--style-underline>div>ul>li.current_page_item>a::before,.tg-primary-menu.tg-primary-menu--style-underline>div>ul>li.current-menu-item>a::before,.tg-primary-menu.tg-primary-menu--style-left-border>div>ul>li.current_page_item>a::before,.tg-primary-menu.tg-primary-menu--style-left-border>div>ul>li.current-menu-item>a::before,.tg-primary-menu.tg-primary-menu--style-right-border>div>ul>li.current_page_item>a::before,.tg-primary-menu.tg-primary-menu--style-right-border>div>ul>li.current-menu-item>a::before,.tg-scroll-to-top.tg-scroll-to-top--show:hover,button,input[type="button"],input[type="reset"],input[type="submit"]{background-color:#4ac6d6}body{color:#54595f}button,input[type="button"],input[type="reset"],input[type="submit"]{background-color:#4ac6d6}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{background-color:#00bdd6}button,input[type="button"],input[type="reset"],input[type="submit"]{border-radius:0}.entry-content a{color:#4ac6d6}.entry-content a:hover,a:focus{color:#00bdd6}.tg-site-footer .tg-site-footer-bar{color:#ccc}.tg-site-footer .tg-site-footer-bar a{color:#fff}.tg-site-footer .tg-site-footer-bar a:hover,.tg-site-footer .tg-site-footer-bar a:focus{color:#4ac6d6}.tg-site-footer .tg-site-footer-bar .tg-container{border-top-width:0}.tg-site-footer .tg-site-footer-bar{background-color:#081726;background-image: ;background-repeat:repeat;background-position:center center;background-size:contain;background-attachment:scroll}.tg-site-footer .tg-site-footer-widgets{background-color:#081726;background-image: ;background-repeat:no-repeat;background-position:center center;background-size:cover;background-attachment:scroll}.tg-site-footer .tg-site-footer-widgets{border-top-width:0}.tg-site-footer .tg-site-footer-widgets .widget-title{color:#4ac6d6}.tg-site-footer .tg-site-footer-widgets{color:#d9e2ea}.tg-site-footer .tg-site-footer-widgets a{color:#d9e2ea}.tg-site-footer .tg-site-footer-widgets a:hover,.tg-site-footer .tg-site-footer-widgets a:focus{color:#2aaabb}.tg-site-footer .tg-site-footer-widgets ul li{border-bottom-width:1px}.tg-site-footer .tg-site-footer-widgets ul li{border-bottom-color:rgba(255,255,255,.05)}body{font-family:Work\ Sans;font-size:15px;line-height:1.8;font-weight:400;font-style:normal}h1,h2,h3,h4,h5,h6{font-family:Work\ Sans;line-height:1.3;font-weight:600;font-style:normal}.site-branding .site-title{font-family:Work\ Sans;font-size:1.313rem;line-height:1.5;font-weight:400;font-style:normal}.site-branding .site-description{font-family:Work\ Sans;font-size:1rem;line-height:1.8;font-weight:400;font-style:normal}.tg-primary-menu>div ul li a{font-family:Work\ Sans;font-size:15px;line-height:1.8;font-weight:400;font-style:normal}.tg-primary-menu>div ul li ul li a{font-family:Work\ Sans;font-size:1rem;line-height:1.8;font-weight:400;font-style:normal}.tg-mobile-navigation a{font-family:Work\ Sans;font-size:1rem;line-height:1.8;font-weight:400;font-style:normal}.entry-title:not(.tg-page-content__title){font-family:Work\ Sans;font-size:2.25rem;line-height:1.3;font-weight:500;font-style:normal}h1{font-family:Work\ Sans;font-size:2.5rem;line-height:1.3;font-weight:500;font-style:normal}h2{font-family:Work\ Sans;font-size:2.25rem;line-height:1.3;font-weight:500;font-style:normal}h3{font-family:Work\ Sans;font-size:2.25rem;line-height:1.3;font-weight:500;font-style:normal}h4{font-family:Work\ Sans;font-size:1.75rem;line-height:1.3;font-weight:500;font-style:normal}h5{font-family:Work\ Sans;font-size:1.313rem;line-height:1.3;font-weight:500;font-style:normal}h6{font-family:Work\ Sans;font-size:1.125rem;line-height:1.3;font-weight:500;font-style:normal}.widget .widget-title{font-family:Work\ Sans;font-size:20px;line-height:1.3;font-weight:500;font-style:normal}.widget{font-family:Work\ Sans;font-size:15px;line-height:1.8;font-weight:400;font-style:normal}</style>
<link rel="stylesheet" id="zakra-googlefonts-css" href="//fonts.googleapis.com/css?family=Work+Sans%3A400%7CWork+Sans%3A600%7CWork+Sans%3A400%7CWork+Sans%3A400%7CWork+Sans%3A400%7CWork+Sans%3A400%7CWork+Sans%3A400%7CWork+Sans%3A500%7CWork+Sans%3A500%7CWork+Sans%3A500%7CWork+Sans%3A500%7CWork+Sans%3A500%7CWork+Sans%3A500%7CWork+Sans%3A500%7CWork+Sans%3A500%7CWork+Sans%3A400&amp;ver=5.3.2" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-official-css" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" type="text/css" media="all" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
<link rel="stylesheet" id="elementor-icons-css" href="http://www.dsywmp.gov.in/wp-content/plugins/elementor/assets/lib/eicons/css/A.elementor-icons.min.css,qver=5.5.0.pagespeed.cf.t1QswRRtW1.css" type="text/css" media="all">
<link rel="stylesheet" id="elementor-animations-css" href="http://www.dsywmp.gov.in/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.8.3" type="text/css" media="all">
<link rel="stylesheet" id="elementor-frontend-css" href="http://www.dsywmp.gov.in/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.8.3" type="text/css" media="all">
<link rel="stylesheet" id="elementor-global-css" href="http://www.dsywmp.gov.in/wp-content/uploads/elementor/css/A.global.css,qver=1577949677.pagespeed.cf.2gvN7X5YHK.css" type="text/css" media="all">
<link rel="stylesheet" id="elementor-post-1262-css" href="http://www.dsywmp.gov.in/wp-content/uploads/elementor/css/A.post-1262.css,qver=1577949680.pagespeed.cf.6TfsZOBVF6.css" type="text/css" media="all">
<link rel="stylesheet" id="srpw-style-css" href="http://www.dsywmp.gov.in/wp-content/plugins/smart-recent-posts-widget/assets/css/A.srpw-frontend.css,qver=5.3.2.pagespeed.cf.b4_jzxxoYq.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-official-v4shim-css" href="https://use.fontawesome.com/releases/v5.10.1/css/v4-shims.css" type="text/css" media="all" integrity="sha384-i1lF6V7EeiD7KOgGLtAvJiK1GAQx4ogzG6B9gpEaDuHSLZuM3sFtPZrI6H2Gzqs6" crossorigin="anonymous">
<style id="font-awesome-official-v4shim-inline-css" type="text/css">@font-face{font-family:"FontAwesome";src:url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-brands-400.eot) , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-brands-400.woff2) format("woff2") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-brands-400.woff) format("woff") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-brands-400.ttf) format("truetype") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-brands-400.svg#fontawesome) format("svg")}@font-face{font-family:"FontAwesome";src:url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-solid-900.eot) , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-solid-900.woff2) format("woff2") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-solid-900.woff) format("woff") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-solid-900.ttf) format("truetype") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-solid-900.svg#fontawesome) format("svg")}@font-face{font-family:"FontAwesome";src:url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-regular-400.eot) , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-regular-400.woff2) format("woff2") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-regular-400.woff) format("woff") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-regular-400.ttf) format("truetype") , url(https://use.fontawesome.com/releases/v5.10.1/webfonts/fa-regular-400.svg#fontawesome) format("svg");unicode-range: U+F004-F005,U+F007,U+F017,U+F022,U+F024,U+F02E,U+F03E,U+F044,U+F057-F059,U+F06E,U+F070,U+F075,U+F07B-F07C,U+F080,U+F086,U+F089,U+F094,U+F09D,U+F0A0,U+F0A4-F0A7,U+F0C5,U+F0C7-F0C8,U+F0E0,U+F0EB,U+F0F3,U+F0F8,U+F0FE,U+F111,U+F118-F11A,U+F11C,U+F133,U+F144,U+F146,U+F14A,U+F14D-F14E,U+F150-F152,U+F15B-F15C,U+F164-F165,U+F185-F186,U+F191-F192,U+F1AD,U+F1C1-F1C9,U+F1CD,U+F1D8,U+F1E3,U+F1EA,U+F1F6,U+F1F9,U+F20A,U+F247-F249,U+F24D,U+F254-F25B,U+F25D,U+F267,U+F271-F274,U+F279,U+F28B,U+F28D,U+F2B5-F2B6,U+F2B9,U+F2BB,U+F2BD,U+F2C1-F2C2,U+F2D0,U+F2D2,U+F2DC,U+F2ED,U+F328,U+F358-F35B,U+F3A5,U+F3D1,U+F410,U+F4AD}</style>
<link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Work+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CArima+Madurai%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.3.2" type="text/css" media="all">
<!--n2css--><script type="text/javascript" src="http://www.dsywmp.gov.in/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
<script src="http://www.dsywmp.gov.in/wp-includes,_js,_jquery,_jquery-migrate.min.js,qver==1.4.1+wp-content,_plugins,_sp-news-and-widget,_assets,_js,_jquery.newstape.js,qver==4.2.1+wp-content,_plugins,_sp-news-and-widget,_assets,_js,_sp-news-public.js,qver==4.2.1.pagespeed.jc.-6jB--2eRq.js"></script><script>eval(mod_pagespeed_mUhmJEi5Tr);</script>
<script>eval(mod_pagespeed_bs68yYwyZ5);</script>
<script>eval(mod_pagespeed_Ba3cm$id0p);</script>
<link rel="https://api.w.org/" href="http://www.dsywmp.gov.in/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.dsywmp.gov.in/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.dsywmp.gov.in/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 5.3.2">
<meta name="generator" content="Everest Forms 1.5.10">
<link rel="canonical" href="http://www.dsywmp.gov.in/about-us/">
<link rel="shortlink" href="http://www.dsywmp.gov.in/?p=1262">
<link rel="alternate" type="application/json+oembed" href="http://www.dsywmp.gov.in/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.dsywmp.gov.in%2Fabout-us%2F">
<link rel="alternate" type="text/xml+oembed" href="http://www.dsywmp.gov.in/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.dsywmp.gov.in%2Fabout-us%2F&amp;format=xml">
		<style type="text/css">.site-title,.site-description{position:absolute;clip:rect(1px,1px,1px,1px)}</style>
		<link rel="icon" href="http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xLogoDsyw-150x121.png.pagespeed.ic.TvN3VirNGE.webp" sizes="32x32">
<link rel="icon" href="http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xLogoDsyw.png.pagespeed.ic.ZrjY-wWSbg.webp" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xLogoDsyw.png.pagespeed.ic.ZrjY-wWSbg.webp">
<meta name="msapplication-TileImage" content="http://www.dsywmp.gov.in/wp-content/uploads/2019/08/LogoDsyw.png">
		<style type="text/css" id="wp-custom-css">.header-bar-social-icons{float:right}.header-bar-social-icons i{padding-left:15px}.header-bar-social-icons a{color:#fff}.tg-site-header-bottom{padding-top:0}.tg-site-header{padding:0 0 0}.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{padding:0}.tg-page-header{padding:20px 0 20px 0}.news .news-title{margin-top:0!important;margin-bottom:10px!important;line-height:19px;text-align:justify}.elementor-24 .elementor-element.elementor-element-89f47d5 .eael-entry-title a{color:#303133;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;line-height:19px;max-height:57px}.tg-primary-menu>div ul li ul{display:none;top:100%;border:1px solid #e9ecef;width:240px;position:absolute;z-index:999;background-image:linear-gradient(to right bottom,#000,#034786)}span.byline{display:none}.eael-entry-thumbnail img{height:175px}.fa,.fab,.fal,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;color:#fff}.post-thumbnail{display:none}table th,table td{border:1px solid #020202;padding:1em}</style>
		
	</head>
<section class="elementor-element elementor-element-6328551 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6328551" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-957a836 elementor-column elementor-col-100 elementor-top-column" data-id="957a836" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6a7f393 elementor-widget elementor-widget-text-editor" data-id="6a7f393" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><h1 class="vc_custom_heading about-title-inner vc_custom_1491391200027" style="font-size: 25px; margin-bottom: 2px; font-family: 'Droid Sans'; font-weight: bold; line-height: 1.1; color: #ffffff; padding: 10px 13px; text-transform: uppercase; letter-spacing: 0.2px; text-align: left; background-color: #4ac6d7 !important;">About Us</h1><p>The department of Sports and Youth Welfare is committed to provide the players of Madhya Pradesh, both from rural and urban areas, with comprehensive facilities and state-of-the-art infrastructure, in an effort to overall enhance their performance and prospects. The government of Madhya Pradesh is making every possible effort for the evolution of sports in Madhya Pradesh with an ambition to bring more laurels to the state.</p><h5><span style="color: #000000;"><strong><span style="text-decoration: underline;"><img class="wp-image-2564 size-thumbnail aligncenter" src="http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xmission-150x150.png.pagespeed.ic.iXZKiTRcxO.webp" alt="" width="150" height="150" srcset="http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xmission-150x150.png.pagespeed.ic.iXZKiTRcxO.webp 150w, http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xmission-300x300.png.pagespeed.ic.WIbI6rOOXO.webp 300w, http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xmission.png.pagespeed.ic.ux8B7Ue6N6.webp 601w" sizes="(max-width: 150px) 100vw, 150px" data-pagespeed-url-hash="1090352066" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></span></strong></span></h5><h3 style="text-align: center;"><strong style="font-style: inherit;">Our Vision</strong></h3><p style="text-align: center;"><strong><em>“Identify the sports talent of Madhya Pradesh at the grass root level and provide state of the art training facilities to assure optimal performance of players.”</em></strong></p><p>Provide a safe environment away from home that nurtures and develops the individual talents of each student-athlete. Identify, develop and prepare student-athletes to be a world-class sports person and provide them with a foundation for success. Enhance the tactical and technical skills of Academy athletes through participation in top-rated national and international tournaments.</p><p><img class="aligncenter wp-image-2565 size-medium" src="http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xawards-honors-1-300x122.png.pagespeed.ic.uzYCyVCpZU.webp" alt="" width="300" height="122" srcset="http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xawards-honors-1-300x122.png.pagespeed.ic.uzYCyVCpZU.webp 300w, http://www.dsywmp.gov.in/wp-content/uploads/2019/08/xawards-honors-1.png.pagespeed.ic.aiVTfNyBsS.webp 684w" sizes="(max-width: 300px) 100vw, 300px" data-pagespeed-url-hash="757038750" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p><h5><span style="color: #000000;"><strong><span style="text-decoration: underline;">Awards Received by the Department</span></strong></span></h5><ul><li><span style="color: #993300;">Mukhyamantri Puraskar – 2009</span></li><li><span style="color: #993300;">Rashtriya Khel Protsahan Puraskar – 2010</span></li><li><span style="color: #993300;">Admiral Kohli Award- Awarded for promoting Sailing sports activities in the state</span></li><li><span style="color: #993300;">National&nbsp; E-Governance Award I.T.C. Tools – The Indian Government awarded a silver medal for our outstanding work in the area of I.T.Tools</span></li><li><span style="color: #993300;">Laadli Media award from U.N.F.P.A</span></li></ul></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>